**Objective**: Get all the city names in Malaysia

Sumber data: Senarai bandar bagi setiap negeri di Malaysia mengikut populasi

https://www.wikiwand.com/ms/Senarai_bandar_bagi_setiap_negeri_di_Malaysia_mengikut_populasi

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

In [ ]:
# get table data from HTML web
# from tables.table import Column
# table_MN = pd.read_html('https://www.wikiwand.com/ms/Senarai_bandar_bagi_setiap_negeri_di_Malaysia_mengikut_populasi')

# list of all the tables on the page
# print(f'Total tables: {len(table_MN)}')

In [ ]:
# read table data from a PDF file and convert it into a dataframe using the Python library called tabula-py
!pip install tabula-py

In [23]:
import tabula

# Specify the path of your PDF file
pdf_path = "/content/bandar_malaysia.pdf"

# Read the table data from the PDF file into a Pandas dataframe
df = tabula.read_pdf(pdf_path, pages='all', multiple_tables=True)

# Print the resulting dataframe
print(df)

[    Tangga Bandar/Bandaraya Populasi 1991 Populasi 2000 Populasi 2010
0        1      Johor Bahru       442,252             0       916,409
1        2           Tebrau        21,697       160,028       559,804
2        3     Pasir Gudang        28,220        89,317       223,548
3        4      Bukit Indah           NaN        43,326       216,906
4        5           Skudai        19,725        93,405       203,420
5        6           Kluang        98,837       134,882       188,521
6        7       Batu Pahat        84,538       123,237       184,730
7        8             Muar        70,637       102,273       152,255
8        9        Ulu Tiram        49,829        97,402       109,205
9       10            Senai        18,633        45,483       107,756
10      11          Segamat        41,079        56,706        80,284
11      12            Kulai        29,966        48,149        80,153
12      13      Kota Tinggi        24,351        39,006        64,739
13      14   Pontian Kechil        30,194        41,187        57,582
14      15          Tangkak        17,036        26,763        43,524
15      16      Bukit Bakri        10,005        20,123        40,355
16      17        Yong Peng        12,289        20,257        34,689
17      18      Pekan Nenas        10,035        17,182        30,648
18      19            Labis        12,892        17,789        25,183
19      20          Mersing        19,058        20,094        21,309
20      21  Simpang Renggam           NaN        14,976        18,711
21      22       Parit Raja           NaN        14,901        18,618
22      23     Kelapa Sawit           NaN        11,311        14,132
23      24      Buloh Kasap           NaN        11,182        13,971
24      25            Chaah           NaN        10,119        12,644,    Tangga Bandar / Daerah Populasi 1991 Populasi 2000 Populasi 2010
0       1   Sungai Petani       254,372       339,898       456,605
1       2      Alor Setar       322,354       354,433       366,787
2       3           Kulim       128,356       191,160       287,694
3       4         Jitra /       157,963       186,265       220,740
4       5          Baling       114,845       124,947       135,646
5       6         Pendang        83,092        89,790        94,962
6       7        Langkawi        42,938        69,597        94,777
7       8             Yan        60,483        62,497        68,319,     9            Sik  54,466  59,691   67,378
0  10   Kuala Nerang  50,726  55,899   62,896
1  11     Pokok Sena       -       -  49,5063
2  12  Bandar Baharu  33,006  37,932  42,3413,    Tangga Bandar/Bandaraya Populasi 1991 Populasi 2000 Populasi 2010
0       1       Kota Bharu       284,604       312,714       491,237
1       2  Pengkalan Kubor        29,431        34,672        41,197
2       3      Tanah Merah        21,678        24,803        28,565
3       4         Peringat        18,251        20,650        23,499
4       5      Wakaf Bharu        14,312        16,997        20,374
5       6            Kadok        15,352        17,159        19,272
6       7        Pasir Mas        15,267        17,092        19,231
7       8       Gua Musang        14,465        16,597        19,173
8       9       Kuala Krai        19,825        19,531        19,153
9      10           Tumpat        11,785        11,646        11,460,     Tangga   Bandar/Bandaraya Populasi 1991 Populasi 2000 Populasi 2010
0        1   Bandaraya Melaka       162,873       237,053       331,790
1        2         Bukit Baru        42,573        47,747        54,044
2        3         Ayer Keroh        16,748        27,739        47,473
3        4            Klebang        22,922        30,536        41,569
4        5       Masjid Tanah           NaN        25,548        30,783
5        6       Sungai Udang           NaN        22,798        27,469
6        7      Batu Berendam           NaN        21,909        26,398
7        8         Alor Gajah           NaN        17,650        21,267
8        9       Bukit Rambai           NaN        15,224        18,343
9       10         Ayer Molek           NaN        13,566        16,346
10      11             Bemban           NaN        12,543        15,113
11      12  Kuala Sungai Baru           NaN        10,740        12,941
12      13       Pulau Sebang           NaN        10,399        12,530,    Tangga Bandar/Bandaraya Populasi 1991 Populasi 2000 Populasi 2010
0       1         Seremban       193,009       290,999       439,296
1       2     Port Dickson        47,962        69,175       102,259
2       3            Nilai           NaN        31,876        38,612
3       4            Bahau        16,595        24,314        36,645,    5       Tampin  15,296  22,131  32,917
0  6  Kuala Pilah  17,743  18,040  18,382,    Tangga Bandar/Bandaraya Populasi 1991 Populasi 2000 Populasi 2010
0       1          Kuantan       201,270       289,395       422,020
1       2         Temerloh        12,925        36,508        82,413
2       3          Bentong        31,314        40,775        54,160
3       4         Mentakab        21,608        32,413        50,054
4       5             Raub        20,940        31,669        49,333
5       6         Jerantut        15,764        24,737        40,092
6       7            Pekan           NaN        27,657        33,089
7       8      Kuala Lipis        11,347        13,501        16,285
8       9    Bandar Jengka           NaN        10,792        12,912
9      10     Bukit Tinggi           NaN        10,729        12,836,     Tangga   Bandar/Bandaraya                   Daerah Populasi 1991  \
0        1               Ipoh                    Kinta       468,765
1        2            Taiping  Larut,Matang dan Selama       186,791
2        3           Sitiawan                      NaN        58,773
3        4      Simpang Empat                      NaN        27,265
4        5        Teluk Intan              Hilir Perak        62,393
5        6         Batu Gajah                    Kinta        18,978
6        7              Lumut                      NaN        22,259
7        8        Kampung Koh                      NaN        17,657
8        9      Kuala Kangsar            Kuala Kangsar        32,142
9       10       Sungai Siput            Kuala Kangsar        33,691
10      11              Tapah                   Mualim        13,755
11      12              Bidor                   18,263        24,247
12      13       Parit Buntar                   20,809        23,368
13      14         Ayer Tawar                   10,389        15,730
14      15        Bagan Serai                   12,216        16,703
15      16      Tanjung Malim                   11,438        14,909
16      17  Lawan Kuda Baharu                   16,059        17,536
17      18       Pantai Remis                   10,708        13,420
18      19             Kampar                   23,468        19,795
19      20      Kampung Gajah             Perak Tengah           NaN

   Populasi 2000 Populasi 2010
0        574,041       704,572
1        199,330       212,562
2         95,922       119,764
3         44,651        75,129
4         60,615        58,431
5         34,038        58,098
6         31,882        46,587
7         27,213        43,002
8         34,690        37,454
9         34,485        35,171
10        21,295        33,827
11        32,684           NaN
12        26,328           NaN
13        24,410           NaN
14        23,240           NaN
15        19,710           NaN
16        19,173           NaN
17        17,010           NaN
18        16,393           NaN
19           NaN           NaN  ,    Tangga Bandar/Bandaraya Populasi 1991 Populasi 2000 Populasi 2010
0       1           Kangar        48,948        54,390        60,712
1       2             Arau           NaN        12,690        13,684
2       3     Padang Besar           NaN           NaN           NaN,     Tangga Bandar/Bandaraya Populasi 1991 Populasi 2000 Populasi 2010
0        1   Bukit Mertajam       122,044       165,422       227,972
1        2       Georgetown       372,453       286,573       207,743
2        3       Sungai Ara        68,547       112,293       187,990
3        4          Gelugor        54,849        98,748       171,652
4        5         Air Itam        79,176        95,895       117,662
5        6      Butterworth        94,231        99,227       104,719
6        7              NaN        18,256        47,318        98,005
7        8            Perai        56,325        55,860        55,266
8        9     Nibong Tebal        20,947        30,365        45,146
9       10   Permatang Pauh        22,967        24,087        25,332
10      11   Tanjung Tokong        25,508        23,183        20,888
11      12     Kepala Batas           NaN        15,225        17,603
12      13   Tanjung Bungah        16,302        15,683        15,031
13      14             Juru           NaN        10,900        12,602,     Tangga Bandar/Bandaraya Populasi 1991 Populasi 2000 Populasi 2010
0      1.0    Kota Kinabalu       160,122       305,382       604,708
1      2.0         Sandakan       157,184       275,375       501,195
2      3.0            Tawau       124,683       213,903       381,736
3      4.0       Lahad Datu        45,084        74,601       128,589
4      5.0         Keningau        16,065        43,870       120,578
5      6.0          Putatan           NaN        61,782        88,709
6      7.0       Donggongon           NaN        56,455        81,060
7      8.0         Semporna        28,254        43,311        68,839
8      9.0            Kudat        21,861        26,746        33,378
9     10.0            Kunak        10,960        15,602        22,912
10    11.0            Papar           NaN        15,203        21,829
11    12.0            Ranau        12,796        15,648        19,521
12    13.0         Beaufort           NaN        12,504        17,954
13    14.0          Kinarut           NaN        12,394        17,796
14     NaN              NaN           NaN           NaN           NaN, Empty DataFrame
Columns: [15, Kota Belud, 10,114, 14,522]
Index: [],    Tangga     Bandar/Bandaraya Populasi 1991 Populasi 2000 Populasi 2010
0       1              Kuching       277,346       423,763       658,549
1       2                 Miri       102,969       167,535       280,518
2       3                 Sibu       133,471       166,322       210,879
3       4              Bintulu        52,021       102,761       199,514
4       5              Limbang        10,940        18,991        34,351
5       6              Sarikei        21,136        25,038        30,083
6       7             Sri Aman        18,526        21,842        26,110
7       8                Kapit           NaN        13,541        16,689
8       9  Batu Delapan Bazaar           NaN        12,765        15,732
9      10       Kota Samarahan           NaN        10,564        13,020,    Unnamed: 0        Unnamed: 1      Unnamed: 2 Pihak Berkuasa Populasi  \
0      Tangga  Bandar/Bandaraya          Daerah            NaN      NaN
1         NaN               NaN             NaN       Tempatan     1991
2           1       Subang Jaya        Petaling           MPSJ   78,494
3           2             Klang           Klang            MPK  368,228
4           3       Ampang Jaya          Gombak           MPAJ  287,823
5           4         Shah Alam        Petaling           MBSA  158,103
6           5     Petaling Jaya        Petaling           MBPJ  351,719
7           6            Cheras     Hulu Langat           MPKJ   51,131
8           7            Kajang     Hulu Langat           MPKJ   99,914
9           8          Selayang          Gombak            MPS  134,535
10          9            Rawang   Hulu Selangor            MPS   23,790
11         10   Taman Greenwood          Gombak            MPS   41,768
12         11          Semenyih     Hulu Langat           MPKJ   15,106
13         12           Banting    Kuala Langat            NaN   25,815
14         13          Balakong     Hulu Langat            NaN      NaN
15         14      Gombak Setia          Gombak            NaN   19,851
16         15    Kuala Selangor  Kuala Selangor            NaN   16,297
17         16          Serendah   Hulu Selangor            NaN      NaN
18         17   Bukit Beruntung   Hulu Selangor            NaN      NaN
19        NaN         Pengkalan             NaN            NaN      NaN
20         18     29,670Kundang             NaN            NaN      NaN
21         19          Jenjarom             NaN            NaN      NaN
22         20      Sungai Besar    Sabak Bernam            NaN   14,854
23         21        Batu Arang          Gombak            NaN      NaN

   Populasi.1 Populasi.2
0         NaN        NaN
1        2000       2010
2     423,338  1,553,589
3     631,676  1,113,851
4     475,253    804,901
5     319,612    671,282
6     428,562    638,516
7     177,521    999,999
8     207,322    448,243
9     187,733    265,297
10     65,769    194,577
11     79,711    157,967
12     45,088    142,824
13     48,240     93,497
14     50,578     88,222
15     39,598     82,304
16     33,816     73,318
17     20,788     36,260
18     19,322     33,703
19        NaN        NaN
20     17,010        NaN
21     18,245     29,292
22     20,663     29,187
23     16,479     28,744  ,    22              Tanjung Sepat     Unnamed: 0  Unnamed: 1 Unnamed: 2  \
0  23                      Kuang            NaN         NaN        NaN
1  24          Kuala Kubu Baharu  Hulu Selangor         NaN     12,073
2  25           Batang Berjuntai  Hulu Selangor         NaN        NaN
3  26  Bandar Baru Salak\rTinggi            NaN         NaN        NaN
4  27                  Sekinchan   Sabak Bernam         NaN     12,165
5  28                      Sabak            NaN         NaN        NaN
6  29             Tanjung Karang            NaN         NaN        NaN
7  30                   Beranang            NaN         NaN        NaN
8  31               Sungai Pelek            NaN         NaN        NaN

   16,304  28,439
0  15,461  26,968
1  17,763  26,648
2  14,597  25,461
3  13,048  22,759
4  15,001  22,142
5  12,590  21,961
6  11,964  20,869
7  10,487  18,292
8  10,093  17,605  ,    Tangga  Bandar/Bandaraya Populasi 1991 Populasi 2000 Populasi 2010
0       1  Kuala Terengganu       228,659       255,109       343,284
1       2            Chukai        43,875        62,875       147,938
2       3            Dungun        41,244        50,166        83,047
3       4            Kerteh        12,925        18,285        26,493
4       5      Kuala Berang           NaN        16,002        26,043
5       6            Marang        14,345        17,387        21,360
6       7              Paka           NaN        18,535        21,244
7       8            Jerteh           NaN        11,913        13,654,    Tangga Bandar/Bandaraya Populasi 1991 Populasi 2000 Populasi 2010
0       1     Kuala Lumpur     1,145,075     1,297,526     1,475,337
1       2           Labuan        26,326        54,162        81,151
2       3        Putrajaya           NaN           NaN        62,457]

In [24]:
type(df)

list

In [25]:
# get the first list
df[0]

    Tangga Bandar/Bandaraya Populasi 1991 Populasi 2000 Populasi 2010
0        1      Johor Bahru       442,252             0       916,409
1        2           Tebrau        21,697       160,028       559,804
2        3     Pasir Gudang        28,220        89,317       223,548
3        4      Bukit Indah           NaN        43,326       216,906
4        5           Skudai        19,725        93,405       203,420
5        6           Kluang        98,837       134,882       188,521
6        7       Batu Pahat        84,538       123,237       184,730
7        8             Muar        70,637       102,273       152,255
8        9        Ulu Tiram        49,829        97,402       109,205
9       10            Senai        18,633        45,483       107,756
10      11          Segamat        41,079        56,706        80,284
11      12            Kulai        29,966        48,149        80,153
12      13      Kota Tinggi        24,351        39,006        64,739
13      14   Pontian Kechil        30,194        41,187        57,582
14      15          Tangkak        17,036        26,763        43,524
15      16      Bukit Bakri        10,005        20,123        40,355
16      17        Yong Peng        12,289        20,257        34,689
17      18      Pekan Nenas        10,035        17,182        30,648
18      19            Labis        12,892        17,789        25,183
19      20          Mersing        19,058        20,094        21,309
20      21  Simpang Renggam           NaN        14,976        18,711
21      22       Parit Raja           NaN        14,901        18,618
22      23     Kelapa Sawit           NaN        11,311        14,132
23      24      Buloh Kasap           NaN        11,182        13,971
24      25            Chaah           NaN        10,119        12,644

In [27]:
# convert PDF into CSV file for easy manipulation
tabula.convert_into("/content/bandar_malaysia.pdf", "city.csv", output_format="csv", pages='all')